In [ ]:
import json
def flatten_dict(d, parent_key='', sep='_', parent_keys=set()):
    items = []
    for k, v in d.items():
        # Check if key is unique in the context of parent keys
        new_key = k if (k not in parent_keys) else f'{parent_key}{sep}{k}' if parent_key else k
        if isinstance(v, dict):
            # Update the set of parent keys for the next level
            new_parent_keys = parent_keys.union(set(d.keys()))
            items.extend(flatten_dict(v, new_key, sep, new_parent_keys).items())
        else:
            items.append((new_key, v))
    return dict(items)

def read_jsonl_and_flatten(file_path):
    flattened_data = []
    with open(file_path, 'r') as file:
        for line in file:
            # Load the line as a JSON object
            data_dict = json.loads(line)
            # Flatten the dictionary
            flattened_dict = flatten_dict(data_dict)
            
            # Might be better to clean this in another function
            # Check if the dictionary has the right number of keys
            if len(flattened_dict.keys()) != 34:
                print("Skipping due to wrong number of keys")
                print(flattened_dict.keys())
                print(flattened_dict)
                continue 

            if flattened_dict["jobs_towardsai_url"] == 'nan':
                print("Skipping due to nan url")
                print(flattened_dict)
                continue
            
            # Add the flattened dictionary to the list
            flattened_data.append(flattened_dict)

    return flattened_data

# Example usage
file_path = '../data/formatted_jobs_feb5_24_results.jsonl'
flattened_data = read_jsonl_and_flatten(file_path)
print("end of file")
print(flattened_data[0])
print(len(flattened_data[0].keys()))
print(flattened_data[9].keys())

In [ ]:
import math

def optimize_keys(data_dict):
    # Function to check if a value is valid (not None, Nan, empty string, or 'Not Specified')

    def is_valid(value):
        # Check for None
        if value is None:
            return False

        # Check for NaN for float values
        if isinstance(value, float) and math.isnan(value):
            return False

        # Check for empty strings and lists
        if value == "" or value == []:
            return False

        # Case-insensitive check for specific strings
        if isinstance(value, str) and value.lower() in ["nan", "not specified"]:
            return False

        # If value is a list, check each item
        if isinstance(value, list):
            for item in value:
                # Check if the item is a string and matches the specified values
                if isinstance(item, str) and item.lower() in ["nan", "not specified"]:
                    return False

        return True

    # Optimize 'city' and 'country'
    # If location_city is valid use it ('country'='JP" and location_country='Japan')
    for key in ["city", "country"]:
        location_model_key = f"location_model_{key}"
        # if not is_valid(data_dict.get(key)) and is_valid(
        #     data_dict.get(location_model_key)
        # ):
        if is_valid(data_dict.get(location_model_key)):
            data_dict[key] = data_dict[location_model_key]
        data_dict.pop(location_model_key, None)

    # Optimize 'ai' and 'involves_ai'
    if data_dict.get("ai") not in [0, 1] and is_valid(data_dict.get("involves_ai")):
        data_dict["ai"] = 1 if data_dict["involves_ai"] else 0
    data_dict.pop("involves_ai", None)
    if data_dict.get("ai") in [0, 1]:
        data_dict["ai"] = bool(data_dict["ai"])

    # Optimize 'salary_numerical'
    salary = data_dict.get("salary_numerical")
    print("salary", salary)
    if not is_valid(salary) or isinstance(salary, str):
        data_dict["salary_min"] = data_dict["salary_max"] = None
    elif (
        isinstance(salary, list)
        and len(salary) == 1
        and is_valid(salary[0])
        and salary[0] < 900000
        and salary[0] > 5
    ):
        data_dict["salary_min"] = data_dict["salary_max"] = salary[0]
    elif (
        isinstance(salary, list)
        and len(salary) == 2
        and all(is_valid(val) for val in salary)
        and all(val < 900000 for val in salary)
        and all(val > 5 for val in salary)
    ):
        data_dict["salary_min"], data_dict["salary_max"] = salary
    else:
        data_dict["salary_min"] = data_dict["salary_max"] = None

    print("salary_min", data_dict["salary_min"])
    print("salary_max", data_dict["salary_max"])
    print("salary_frequency", data_dict["salary_frequency"], "\n")
    data_dict.pop("salary_numerical", None)

    # Optimize 'job_skills'
    if is_valid(data_dict.get("required_skills")) and not is_valid(data_dict.get("skills")):
        data_dict["skills"] = data_dict["required_skills"]
    elif is_valid(data_dict.get("skills")):
        data_dict["skills"] = data_dict.get("skills").split(",")
    data_dict.pop("required_skills", None)

    # Optimize 'experience_years'
    if is_valid(data_dict.get("experience_years")):
        experience_years = data_dict["experience_years"]
        if isinstance(experience_years, str):
            data_dict["experience_years"] = None
        else:
            data_dict["experience_years"] = int(experience_years)

    # Replace 'Not specified' with None for all keys
    for key, value in data_dict.items():
        if not is_valid(value):
            data_dict[key] = None

    # Transform lists into strings
    for key, value in data_dict.items():
        if isinstance(value, list):
            data_dict[key] = ", ".join(value) if len(value) > 1 else value[0]

    # Transform values into lowercase strings
    lowercased_data = {
        key: value.lower() if isinstance(value, str) else value
        for key, value in data_dict.items()
    }

    return lowercased_data

In [ ]:
list_of_dicts = []
for i, dict in enumerate(flattened_data):
    print("index", i)
    optimized_dict = optimize_keys(dict)
    list_of_dicts.append(optimized_dict)

# print(list_of_dicts[8978].keys())
print(list_of_dicts[8978])
# for i, dict in enumerate(list_of_dicts):
# print(list_of_dicts[2])
# print(dict.keys())
# if i == 5:
# break

In [ ]:
import pandas as pd
import tiktoken
import logging
logger = logging.getLogger(__name__)

# The data in a dataframe
df1 = pd.DataFrame(list_of_dicts)
df1 = df1.rename(columns={"ai": "involves_ai"})
df1 = df1.rename(columns={"title": "job_title"})
df1 = df1.rename(columns={"skills": "job_skills"})

df1['created_at'] = pd.to_datetime(df1['created_at'])
df1 = df1.rename(columns={"created_at": "creation_date"})

# df1 = df1.rename(columns={"cleaned_description": "job_listing_text"})
df1 = df1.drop(
    ["slug", "approved", "chain_of_thought", "job_type_reasoning", "remote_reasoning"],
    axis=1,
)

def num_tokens_from_string(string: str, encoding_name: str) -> int:
    """Returns the number of tokens in a text string."""
    try:
        encoding = tiktoken.get_encoding(encoding_name)
        num_tokens = len(encoding.encode(string))
        return num_tokens
    except Exception as e:
        logger.error(f"Error calculating number of tokens: {e}")
        return 0

df1["num_tokens"] = df1["job_listing_text"].apply(
        lambda x: num_tokens_from_string(x, "cl100k_base")
    )

# # Finding and printing the max value in the salary_max column
# max_salary_max = df1['salary_max'].max()
# print(f"Maximum value in 'salary_max' column: {max_salary_max}")

# # Finding and printing the min value in the salary_min column
# min_salary_min = df1['salary_min'].min()
# print(f"Minimum value in 'salary_min' column: {min_salary_min}")

# # Print the row with the max salary_max value
# print("Row with the maximum 'salary_max' value:")
# print(df1[df1['salary_max'] == max_salary_max])

# # Print the row with the min salary_min value
# print("\nRow with the minimum 'salary_min' value:")
# print(df1[df1['salary_min'] == min_salary_min])

# print(df1.head(1))
# print(df1.dtypes)
# print("\n")
print(df1.info())
# print(df1.shape)
# print(df1.columns)
# print(len(df1))

# df1.to_pickle("../data/extracted_cleaned_df_feb5.pkl")
# print(df1.to_markdown())

In [3]:
import pandas as pd
df = pd.read_json("db_info.json")
print(df.info())
# print(df.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8165 entries, 0 to 8164
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   job_id                   8165 non-null   int64
 1   created_at               8165 non-null   datetime64[ns]
 2   job_title                8165 non-null   object
 3   job_skills               8165 non-null   object
 4   job_type                 8165 non-null   object
 5   company_id               8165 non-null   int64
 6   apply_url                8165 non-null   object
 7   city                     8165 non-null   object
 8   country                  8165 non-null   object
 9   salary                   8165 non-null   object
 10  salary_min               8165 non-null   int64
 11  salary_max               8165 non-null   int64
 12  salary_currency          8165 non-null   object
 13  url_slug                 8165 non-null   object
 14  role_description         8165 non-null   object
 15  company_name             8165 non-null   object
 16  company_description      8165 non-null   object
 17  cleaned_description      8165 non-null   object
 18  scraped_skills_required  8165 non-null   object
 19  scraped_skills_useful    8165 non-null   object
dtypes: datetime64[ns](1), int64(4), object(15)
memory usage: 1.2+ MB
None

## Embed and upload dataset to Deep Lake

In [ ]:
# import pandas as pd
# import time
# import os
# from buster.documents_manager import DeepLakeDocumentsManager
# from dotenv import load_dotenv
# import numpy as np
# import json
# import deeplake
# import tiktoken

# load_dotenv(".env")
# ACTIVELOOP_TOKEN = os.getenv("ACTIVELOOP_TOKEN")


# # df1 = pd.read_csv("../data/jobs_original_data_2.csv", low_memory=False, on_bad_lines='warn')
# df1 = pd.read_json("../data/formatted_jobs.json")
# df1['created_at'] = df1['created_at'].astype(str) # convert to string, else its not json serializable
# print(len(df1))
# # print(df1.dtypes)
# # print("\n")
# # print(df1.info())
# # print(df1.shape)
# # print(df1.columns)

# df1 = df1.dropna(subset="cleaned_description")
# # df1.to_csv("../data/jobs_cleaned_data2.csv", index=False)


# df1 = df1.rename(columns={'cleaned_description': 'content'})


# def num_tokens_from_string(string: str, encoding_name: str) -> int:
#     """Returns the number of tokens in a text string."""
#     encoding = tiktoken.get_encoding(encoding_name)
#     num_tokens = len(encoding.encode(string))
#     return num_tokens

# df1['num_tokens'] = df1['content'].apply(lambda x: num_tokens_from_string(x, "cl100k_base"))

# # Now, you can filter the DataFrame to only keep rows with num_tokens less than 8000
# df1_filtered = df1[df1['num_tokens'] < 8000]
# print("number of rows:", len(df1_filtered))
# df1_filtered.drop('num_tokens', axis=1, inplace=True)

# # df2 = df1.head(5000)


# # # # dataset_path = "hub://towards_ai/ai-jobs-dataset"
# dataset_path = "local_dataset"

# dm = DeepLakeDocumentsManager(
#     vector_store_path=dataset_path,
#     overwrite=True, # does not work when the dataset is empty?
#     # required_columns=["url", "content", "source", "title"],
# )

# # # Check if embeddings are present, computes them if not
# # if "embedding" not in df.columns:
# #     # df["embedding"] = compute_embeddings_parallelized(df, embedding_fn=embedding_fn, num_workers=num_workers)
# #     df.loc[:, "embedding"] = compute_embeddings_parallelized(df, embedding_fn=embedding_fn, num_workers=num_workers)

# dm.batch_add(
#     df=df1_filtered,
#     batch_size=10000, # very important to this be greater than the whole dataset
#     min_time_interval=60,
#     num_workers=32,
#     csv_overwrite=False,
# )

In [ ]:
# import os
# import deeplake
# # Renaming source 'langchain to 'langchain_docs'
# # db = deeplake.VectorStore("local_dataset", overwrite=False, read_only=False)
# # db = deeplake.VectorStore("hub://towards_ai/ai-jobs", overwrite=False, read_only=True)
# # db.summary()
# # metadata_list = db.dataset["metadata"].data(aslist=True)['value']
# # print(len(db.dataset["metadata"]))
# # print(len(metadata_list))
# deeplake.deepcopy("local_dataset", "hub://towards_ai/ai-jobs-data-9105-3072", overwrite=True, read_only=False)
# # db

In [ ]:
# import os
# import openai
# from dotenv import load_dotenv
# import nested_structure as bm

# load_dotenv(".env")
# OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

# from IPython.display import Markdown, display
# from llama_index import SQLDatabase

In [ ]:
# from sqlalchemy import (
#     create_engine,
#     MetaData,
#     Table,
#     Column,
#     String,
#     Integer,
#     Float,
#     Boolean,
#     Text,
# )
# from sqlalchemy import insert
# import json

In [ ]:
# # Define the engine and metadata
# engine = create_engine("sqlite:///:memory:")
# metadata_obj = MetaData()

# # Modify the table definition to include salary_min and salary_max
# job_listing_details_table = Table(
#     "job_listing_details",
#     metadata_obj,
#     Column("jobs_towardsai_url", String, primary_key=True),

# )

# # Recreate the table with the new structure
# metadata_obj.create_all(engine)

In [ ]:
# # create city SQL table
# table_name = "city_stats"
# city_stats_table = Table(
#     table_name,
#     metadata_obj,
#     Column("city_name", String(16), primary_key=True),
#     Column("population", Integer),
#     Column("country", String(16), nullable=False),
# )
# metadata_obj.create_all(engine)

In [ ]:
# from llama_index import SQLDatabase, ServiceContext
# from llama_index.llms import OpenAI

# llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")
# service_context = ServiceContext.from_defaults(llm=llm)
# # sql_database = SQLDatabase(engine, include_tables=["city_stats"])
# sql_database = SQLDatabase(engine, include_tables=["job_listing_details"])

In [ ]:
# sql_database = SQLDatabase(engine, include_tables=["city_stats"])
# from sqlalchemy import insert

# rows = [
#     {"city_name": "Toronto", "population": 2930000, "country": "Canada"},
#     {"city_name": "Tokyo", "population": 13960000, "country": "Japan"},
#     {
#         "city_name": "Chicago",
#         "population": 2679000,
#         "country": "United States",
#     },
#     {"city_name": "Seoul", "population": 9776000, "country": "South Korea"},
# ]
# for row in rows:
#     stmt = insert(job_listing_details_table).values(**row)
#     with engine.begin() as connection:
#         cursor = connection.execute(stmt)

In [ ]:
# # view current table
# stmt = select(
#     city_stats_table.c.city_name,
#     city_stats_table.c.population,
#     city_stats_table.c.country,
# ).select_from(city_stats_table)

# with engine.connect() as connection:
#     results = connection.execute(stmt).fetchall()
#     print(results)

In [ ]:
# from sqlalchemy import text

# with engine.connect() as con:
#     rows = con.execute(text("SELECT * FROM job_listing_details ORDER BY CAST(salary_numerical AS REAL) DESC;"))
#     i = 0
#     for row in rows:
#         print(row)
#         i += 1
#         if i > 10:
#             break

In [ ]:
# from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

# query_engine = NLSQLTableQueryEngine(
#     sql_database=sql_database,
#     tables=["job_listing_details"],
#     verbose=True,
# )
# query_str = "Which job has the highest salary?"
# response = query_engine.query(query_str)
# display(Markdown(f"<b>{response}</b>"))

In [ ]:
# display(Markdown(f"<b>{response}</b>"))

In [ ]:
# from sqlalchemy.sql import select

# # Function to fetch and display 5 elements from the database
# def fetch_five_records(engine, table):
#     # Create a SELECT query that selects all columns from the table
#     query = select(table).limit(5)

#     # Execute the query
#     with engine.connect() as connection:
#         result = connection.execute(query)

#         # Fetch the results
#         records = result.fetchall()

#         # Display the records
#         for record in records:
#             print(record)

# # Call the function to fetch and display records
# fetch_five_records(engine, job_listing_details_table)